@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
*{
    font-family: 'Inter', sans-serif;   
}

/* button:before */
html{
  scroll-behavior: smooth;
 
}
.header-end-item-square{

background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);


}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.header-nav-wrapper{
    
.nav-hover-li{
  
    &:hover{
     
        .extra-hover-ul-wrapper{
           display: block;
        }
      
    }
}
}
.header-end-content-wrapper{
    &:hover{
      .header-end-item-word{
        text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
        0px -4px 10px rgba(255,255,255,0.3);
      }
      .header-end-item-square{
        box-shadow: 1px 1px 15px blue;
      }
    }
}



.banner-btn,.contact-btn{
background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
&:hover{
  box-shadow: 2px 2px 10px #5FA4E6 ;
}


}

.about-bottom-box-item-wrapper{

  &:hover{
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
  }
}
.partners-box-wrapper{
 

background: linear-gradient(180deg, rgba(65, 85, 114, 0.15) 0%, rgba(27, 27, 30, 0.1) 100%);




}

.mySwiper1{
  .swiper-wrapper{
    .swiper-slide{
     
    
      &.swiper-slide-prev{
        opacity: 0.2;
      }
      &.swiper-slide-next{
        opacity: 0.5;
      }
    } 
  }
}
.slider-button-wrapper{
 
  .swiper-button-disabled{
    opacity: 0.5;
  }
}
.top-btn-back-item{
  animation: back 2s linear infinite;
  @keyframes back {
    1%{
      opacity: 1;
    }
    50%{
      opacity: 0.5;
    }
    100%{
      opacity: 100;
    }
    
  }
}