@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Inter', sans-serif;   
}

/* button:before */
html{
  scroll-behavior: smooth;
}
.header-end-item-square{

background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);


}
.header-nav-wrapper{
    a{
    &:hover{
        text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
        0px -4px 10px rgba(255,255,255,0.3);
    }
    }
.nav-hover-li{
  

  
    &:hover{
      
        .extra-hover-ul-wrapper{
           display: block;
        }
      
    }
}
}
.header-end-content-wrapper{
    &:hover{
      .header-end-item-word{
        text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
        0px -4px 10px rgba(255,255,255,0.3);
      }
      .header-end-item-square{
        box-shadow: 1px 1px 15px blue;
      }
    }
}




.banner-btn{
background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);


}

.about-bottom-box-item-wrapper{

  &:hover{
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
  }
}
.partners-box-wrapper{
 

background: linear-gradient(180deg, rgba(65, 85, 114, 0.15) 0%, rgba(27, 27, 30, 0.1) 100%);




}

.mySwiper1{
  .swiper-wrapper{
    .swiper-slide{
     
    
      &.swiper-slide-prev{
        opacity: 0.2;
      }
      &.swiper-slide-next{
        opacity: 0.5;
      }
    } 
  }
}
